<!-- templates/home.html-->
{% extends 'base.html' %}

{% block style %}
	.btn {
		background-color: #939496;
	}
	
	.btn:hover {
		background-color: black;
	}
{% endblock %}

{% block content %}
<div class="container">
	<form method="post">
		{% csrf_token %}
		<div>
			<p>Pick file to upload.</p>
			{{ form.file }}
			{{ form.file.errors }}
		</div>
		<div class="p-3">
			<button type="submit" class="btn btn-primary btn-lg">Submit</button>
		</div>
	</form>
</div>
{% endblock %}

{% block content_signed_out %}
<div class="container">
	<p>You are not logged in.</p>
</div>
{% endblock %}